/* Create colour variables */
:root{
    --header-bg-colour: #180937;
    --link-colour: #fafafa;
    --link-hover-colour: #ffd700;
    --footer-bg-colour: #12072a;
    --footer-text-colour: #fafafa;
    --form-input-bg-colour: #d2cbe2;
    --button-bg-colour: #04053b;
    --button-text-colour: #fafafa;
    --button-hover-bg-colour: #fafafa;
    --button-hover-text-colour: #04053b;
}

/* spacing and margin */
.mt-2{
    margin-top: 2vh;
}

.text-center{
    text-align: center;
}

/* fix the footer at the bottom */

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

main{
    flex: 1 0 auto;
}


/* flash message categories */

/* Flask categories */

.alert-success{
    color: #155724;
}

.alert-error{
    color: #721c24;
}



/* Header  */

header{
    width: 100%;
    background-color: var(--header-bg-colour);
    color: var(--link-colour);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#streamline-logo{
    width: 5vw;
}

nav > a{
    color: var(--link-colour);
    text-decoration: none;;
}

nav>a:hover{
    color: var(--link-hover-colour)
}

/* Footer */

footer{
    width: 100%;
    background-color: var(--footer-bg-colour);
    color: var(--footer-text-colour);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

footer > div{
    text-align: center;
}


/* global attributes */

.btn{
    display: inline-block;
    color: #fafafa;
    background-color: #04053b;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 0.8rem;
}

.btn:hover{
    color:#04053b;
    background-color: #fafafa;
    border: 1px solid #04053b;
}

.btn-no-radius{
    border-radius: 0px;
}


input[type="text"], input[type="email"], input[type="password"]{
    background-color: #d2cbe2;
    color: #000000;
}