{% extends "base.html" %}

{% block title %}StreamLine - Add Task {% endblock %}

{% block content %}

<h2 class="text-center">Create Task</h2>

<div class="text-center">

    <form method="post">
        <div>
            <label for="title">Task: </label>
            <input type="text" name="title" id="title" placeholder="Task title" required arial-label="Title for the task">
        </div>
        
        <div>
            <label for="description">Description:</label><br>
            <textarea name="description" id="description" cols="40" rows="10" placeholder="Task Description..." aria-label="Description for the task"></textarea>
        </div>
        <div>
            <label for="deadline">Dead Line: </label>
            <input type="date" name="deadline" id="deadline" required>
        </div>
        
        <div>
            <input type="submit" value="Create task" class="btn mt-2 mb-2">
        </div>
    </form>

    <a href="{{url_for('user_dashboard')}}" class = "btn mb-2" aria-label="Go to the employee dashboard">Go back to employee Dashboard</a>
</div>


{% endblock %}