<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title></title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <p>StreamLine Productivity Solutions</p>
        </nav>
    </header>
    <main>
        
        <!-- Create a placeholder for each view that inherits this base template -->
         {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; SteamLine Productivity Solution, 2026</p>
        <div>
            <p>Email: tech-support@streamline.solutions</p>
            <p>Unauthorized access is not allowed.</p>
        </div>
    </footer>
</body>
</html>