{% extends "base.html" %}

{% block extra_css %} <link rel="stylesheet" href="{{url_for('static', filename='css/user_dashboard/user.css')}}">{% endblock %}
{% block title %} StreamLine - User Dashboard {% endblock %}

{% block content %}

<h2 class="text-center">User dashboard</h2>
<div id="user-dashboard">
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                        <p class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert"> {{ message }} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% if employee %}
        <form method="post">
            <div class="mt-2"><input type="text" name="name" id="name" value="{{ employee['name'] }}"></div>
            <div class="mt-2"><input type="text" name="phone" id="phone" value="{{ employee['phone'] }}"></div>
            <div class="mt-2"><label for="date_birth">Date of birthd: </label><input type="date" name="date_birth" id="date_birth"></div>
            <div class="mt-2"><input type="text" name="address" id="address" value="{{ employee['address'] }}"></div>
            <div class="mt-2"><input type="text" name="city" id="city" value="{{ employee['city'] }}"></div>
            <div class="mt-2"><input type="text" name="role" id="role" value="{{ employee['role'] }}"></div>
            <div class="mt-2"><input type="submit" value="Update" class="btn mt-2"></div>
        </form>
        {% else %}
            <h2>no data</h2>
        {% endif %}
    </section>
    
    <section id="task-actions">
        <a href="#" class="btn">Create a new task</a>
        <a href="#" class="btn">View pending tasks</a>
    </section>
</div>
    
{% endblock %}